ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
li > button {
    background: transparent;
    color: grey;
    font-size: 20px;
    border: none;
}
